.blogIndex h1 {
  margin-bottom: 50px;
}

.previewAlertContainer {
  display: flex;
  justify-content: center;
}

.previewAlert {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #eaeaea;
  width: 400px;
  padding: 16px;
  border-radius: 5px;
}

.escapePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  height: 24px;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.escapePreview:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.draftBadge {
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 7px;
  margin-right: 6px;
}

.noPosts {
  text-align: center;
}

.postPreview {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s cubic-bezier(0.9, 0.85, 0, 2.77);
  &_thumb {
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #fcfcfc;
    background-size: cover;
    border-radius: 15px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  h3 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  &_grid {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 20px;
  }
  &_info {
    font-size: 0.8rem;
    color: darkgrey;
    text-align: right;
  }
  &_description {
    color: gray;
  }
}

.postPreview:last-child {
  border-bottom: none;
}

.post h1 {
  margin-bottom: 0;
}

.post h1 {
  margin-top: 0;
}

.post :global(video),
.post :global(img),
.post :global(.asset-wrapper) {
  max-width: 100%;
  display: block;
  margin-bottom: 80px;
}

.post :global(.tweet) {
  margin: 2rem auto;
  text-align: center;
}

.post :global(.callout) {
  padding: 16px 16px 16px 12px;
  display: flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.6);
}

.post :global(.callout .text) {
  margin-left: 8px;
}

.postPreview :global(.posted) {
  margin-bottom: 0.5em;
}

.post {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 5%;
}

.post :global(hr) {
  margin-bottom: 2em;
}

.post :global(a + p) {
  margin-top: 0;
}

.post {
  max-width: 730px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 150px;
  img {
    height: auto !important;
    min-width: calc(100% + 30px);
    transform: translateX(-15px);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  a {
    word-wrap: break-word;
    letter-spacing: 0.05rem;
    transition-duration: 0.5s;
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 1rem;
    line-height: 2;
  }
  table {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  table thead th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  li {
    margin-bottom: 0.5rem;
    line-height: 2;
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}

.authors {
  background-color: rgba(247, 247, 247, 0.8);
  padding: 20px 25px;
  border-radius: 10px;
  line-height: 1;
  font-size: 0.9rem;
  letter-spacing: 0;
}
