.blogIndex {
  padding: 0 5%;
}

.blogIndex h1 {
  margin-bottom: 50px;
}

.previewAlertContainer {
  display: flex;
  justify-content: center;
}

.previewAlert {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #eaeaea;
  width: 400px;
  padding: 16px;
  border-radius: 5px;
}

.escapePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  height: 24px;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.escapePreview:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.draftBadge {
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 7px;
  margin-right: 6px;
}

.noPosts {
  text-align: center;
}

.postPreview {
  max-width: 600px;
  margin: 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.postPreview:last-child {
  border-bottom: none;
}

.postPreview h3,
.post h1 {
  margin-bottom: 0;
}

.post h1 {
  margin-top: 0;
}

.post :global(h2),
.post :global(h3) {
  margin: 3rem 0 1.5rem 0;
}

.post :global(video),
.post :global(img),
.post :global(.asset-wrapper) {
  margin: 2rem auto;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  display: block;
}

.post :global(.tweet) {
  margin: 2rem auto;
  text-align: center;
}

.post :global(.callout) {
  padding: 16px 16px 16px 12px;
  display: flex;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: rgba(235, 236, 237, 0.6);
}

.post :global(.callout .text) {
  margin-left: 8px;
}

.post :global(.underline) {
  text-decoration: underline;
}

.postPreview :global(.posted) {
  margin-bottom: 0.5em;
}

.post {
  max-width: calc(600px + 10%);
  margin: 0 auto;
  padding: 5%;
}

.post :global(hr) {
  margin-bottom: 2em;
}

.post :global(a + p) {
  margin-top: 0;
}

.bookmark {
  width: 100%;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: var(--bg);
}

.bookmark img {
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.bookmarkContentsWrapper {
  display: block;
  color: inherit;
  text-decoration: none;
  flex-grow: 1;
  min-width: 0px;
}

.bookmarkContents {
  user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  text-align: left;
  overflow: hidden;
  border: 1px solid #cacaca;
  border-radius: 3px;
  position: relative;
  color: inherit;
  fill: inherit;
}

.bookmarkInfo {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  overflow: hidden;
  text-align: left;
}

.bookmarkTitle {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}

.bookmarkDescription {
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.bookmarkLinkWrapper {
  display: flex;
  margin-top: 6px;
}

.bookmarkLinkIcon {
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.bookmarkLink {
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 6px;
}

.bookmarkCoverWrapper1 {
  flex: 1 1 180px;
  display: block;
  position: relative;
}

.bookmarkCoverWrapper2 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0;
  background-color: #ff0000;
}

.bookmarkCoverWrapper3 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.bookmarkCover {
  display: block;
  object-fit: cover;
  border-radius: 1px;
  width: 100%;
  height: 100%;
}
