.blogIndex h1 {
  margin-bottom: 50px;
}

.noPosts {
  text-align: center;
}

.postPreview {
  max-width: 600px;
  margin: 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.postPreview:last-child {
  border-bottom: none;
}

.postPreview h3,
.post h1 {
  margin-bottom: 0;
}

.postPreview :global(.posted) {
  margin-bottom: 0.5em;
}

.post {
  max-width: 600px;
  margin: 5% auto;
}

.post :global(hr) {
  margin-bottom: 2em;
}
