.links {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
}

.links a {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.avatar {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.avatar img {
  height: 120px;
}

.name {
  text-align: center;
}

.name a {
  color: inherit;
}
