.layout {
  padding: 2% 5% 7%;
  margin: 0 auto;
  max-width: calc(600px + 10%);
}

.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1 {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 10px 5%;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
