.section_first {
  position: relative;
  height: calc(100vh + 0px);
  background-color: rgba(105, 199, 242, 0.2) !important;
  &_message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    @media screen and (max-width: 769px) {
      top: initial;
      bottom: 160px;
      transform: initial;
    }

    h1 {
      display: inline-block;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.8;
      margin: 0;
      color: white;
      text-align: left;
      @media screen and (max-width: 769px) {
        font-size: 2.2rem;
      }
      span {
        background-color: rgba(3, 171, 216, 0.8);
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &_content {
      width: 500px;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
      @media screen and (max-width: 769px) {
        width: initial;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  &_download {
    margin-top: 50px;
    &_text {
      margin-bottom: 20px;
      text-align: center;
      @media screen and (max-width: 769px) {
        margin-bottom: 5px;
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        margin: 0;
        @media screen and (max-width: 769px) {
          font-size: 1.5rem;
        }
        span {
          background-color: rgba(255, 255, 255, 0.9);
          padding-left: 20px;
          padding-right: 20px;
          color: #3b3b3b;
          border-radius: 20px;
        }
      }
    }
    &_icon {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 769px) {
        transform: scale(0.7);
      }
      img {
        height: 65px;
        min-height: 65px;
        width: initial;
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

.background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: calc(100vh + 0px);
  background-image: url('/assets/index_image1.jpg');
  background-position: center;
  background-size: cover;
}

.note {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(241, 222, 0, 0.7);
  backdrop-filter: blur(10px);
  margin-top: 50px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  &_message {
    font-weight: bold;
    width: 100%;
    text-align: left;
  }
  &_button {
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 15px;
    word-break: keep-all;
    a {
      border-radius: 5px;
      padding: 5px 8px;
      text-decoration: none;
      color: #3b3b3b;
      border: 2px solid #3b3b3b;
      display: block;
    }
  }
}
