.message {
  background-image: url('/assets/message_background.png');
  background-size: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  &_content {
    padding: 0 0 160px 0;
    margin-top: 80px;
    text-align: center;
    @media screen and (max-width: 1024px) {
      padding: 100px 0;
    }
    p {
      line-height: 2;
    }
  }
  &_btn {
    display: inline-block;
    margin-top: 48px;
    padding: 12px 40px;
    background-color: #ffe04a;
    color: #fff;
    border-radius: 60px;
    transition: 0.25s all;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      color: #fff;
      opacity: 0.7;
    }
  }
}
