.section {
  &_normal {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &_right {
    padding-top: 100px;
    padding-bottom: 100px;
    &_content {
      width: 50%;
      margin-left: auto;
    }
    &_region_list {
      display: flex;
      margin-bottom: 20px;
      h4 {
        margin-right: 25px;
        align-self: center;
        word-break: keep-all;
      }
      ul {
        display: flex;
        li {
          font-weight: bold;
          word-break: keep-all;
          color: #31abd8;
          border: 1px solid #31abd8;
          border-radius: 20px;
          background-color: white;
          padding: 4px 15px;
          margin-right: 5px;
        }
      }
    }
  }
  &_center {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
      max-width: 1000px;
    }
  }
}
