.download {
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 769px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  h3,
  p.app {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-bottom: 25px;
    @media screen and (max-width: 769px) {
      font-size: 1.7rem;
    }
  }
  p.app {
    font-weight: normal;
    font-size: 1.3rem;
  }
  &_link {
    max-width: 535px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 30px;

    // ストア配信まで変更中↓

    max-width: 120px;
    grid-template-columns: 120px;

    // ここまで

    @media screen and (max-width: 769px) {
      grid-template-columns: 1fr;
    }
    img.appicon {
      @media screen and (max-width: 769px) {
        width: 120px;
        height: 120px;
      }
      border-radius: 30px;
      border: 1px solid white;
      margin-left: auto;
      margin-right: auto;
    }
    &_store {
      display: grid;
      grid-template-rows: 65px 1fr;
      grid-gap: 15px;
      &_img {
        div {
          display: flex;
          @media screen and (max-width: 769px) {
            justify-content: center;
          }
          img {
            height: 60px;
            min-height: 60px;
            @media screen and (max-width: 769px) {
              height: 53px;
              min-height: 53px;
            }
            width: initial;
            margin-right: 20px;
            &:last-of-type {
              margin-right: 0px;
            }
          }
        }
      }
      &_legal {
        font-size: 0.7rem;
        color: white;
        line-height: 1.2;
        letter-spacing: 0;
      }
    }
  }
}
