.download {
  h3,
  p.app {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-bottom: 25px;
    @media screen and (max-width: 769px) {
      font-size: 1.7rem;
    }
  }
  p.app {
    font-weight: normal;
    font-size: 1.3rem;
  }
  p.download_message {
    width: 260px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 60px;
    display: block;
    padding: 0;
    margin: 0 auto 24px auto;
  }
  &_link {
    max-width: 535px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    img.appicon {
      @media screen and (max-width: 769px) {
        width: 120px;
        height: 120px;
      }
      border-radius: 30px;
      border: 1px solid white;
      margin-left: auto;
      margin-right: auto;
    }
    &_store {
      &_img {
        margin-bottom: 48px;
        div {
          display: flex;
          justify-content: center;
          @media screen and (max-width: 769px) {
            justify-content: center;
          }
          a {
            &:first-child {
              margin-right: 12px;
            }
            img {
              height: 60px;
              min-height: 60px;
              @media screen and (max-width: 769px) {
                height: 53px;
                min-height: 53px;
              }
              width: initial;
              margin-right: 20px;
              &:last-of-type {
                margin-right: 0px;
              }
            }
          }
        }
      }
      &_legal {
        font-size: 0.7rem;
        color: white;
        line-height: 1.5;
        letter-spacing: 0;
      }
    }
  }
}
