.navbar {
  background-color: rgba(3, 171, 216, 0.2) !important;
  letter-spacing: 0;
  background-color: transparent;
  border-bottom: solid 1px white;
  transition: all 1s ease;
  backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  width: 100%;

  &.active {
    background-color: rgba(105, 199, 242, 1) !important;
  }

  .navbar-item {
    transition: 1s;
  }
  .navbar_item:hover {
    background: none;
  }
  &_brand {
    @media screen and (max-width: 1024px) {
      background-color: initial;
    }
  }
  &_link {
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: white;

    @media screen and (min-width: 1024px) {
      text-shadow: 0px 3px 20px black;
    }
  }
}

.logo {
  &:hover {
    background-color: transparent !important;
  }
}

.mobile {
  background-color: rgba(105, 199, 242, 1) !important;
  color: white;
}
